* {
  /* Initialing to zero the padding and margin */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* body styling */
  background-color: #2c3e3e;
  margin-top: 100px;
}

h1 {
  /* header tag styling */
  text-align: center;
  margin-top: 10px;
  color: #f0f8ff;
}

section {
  /* div container styling */
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px;
}

div {
  background-color: #1717171f;
  margin: auto;
  width: max-content;
  padding: 3pc;
  background-repeat: repeat-y;
  border-top-style: groove;
  box-shadow: 0 0 20px #0f0e0e;
}

#input-text {
  /* input text field styling */
  padding: 10px;
  border-radius: 10px;
  font-size: large;
}

button {
  /* check button styling */
  padding: 10px;
  border-radius: 10px;
  font-size: larger;
  background-color: #3b733b33;
  color: #f0f8ff;
}

#result {
  /* display text area styling */
  background-color: #f0ffff2d;
  font-size: xx-large;
  width: 80%;
  margin: auto;
  border-radius: 12px 0 8px;
  text-align: center;
  color: #fff;
}
